* {
	margin: 0;
	padding: 0;
}

.registro {
	text-decoration: none;
	font-family: 'Play', sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #314A9E;
	position: relative;
	top: 10px;
	left: 5px;
}

.registro:hover {
	color: #4E4C31;
}

#logo {
	font-family: 'Russo One', sans-serif;
	color: #167AC6;
	font-size: 30px;
	float: left;
	text-decoration: none;
}

#logo:hover {
	color: #314A9E;
}

.carrito {
	width: 40px;
	height: 37px;
	float: left;
	margin-left: 10px;
}